- @page_title = "Update Product Line"
= link_to("Back to Lines List", {:action => 'index'}, :class => 'btn btn-primary')
.lines.new
  %h2 Edit Product Line
  = form_for [:admin, @line], :html => {:multipart => true} do |f|
    = render(:partial => "form", :locals => {:f => f})
    .form-buttons
      %br/ 
      = submit_tag("Update Product Line", :class => 'btn btn-success')
