- @page_title = "New Product"
= link_to("Back to Product List", {:action => 'index', :line_id => @line.id}, :class => 'btn btn-primary')
.products.new
  %h2 Create Product
  = form_for [:admin, @line, @product], :html => {:multipart => true} do |f|
    = render(:partial => "form", :locals => {:f => f})
    .form-buttons
      = submit_tag("Create Product", :class => 'btn btn-primary')
